ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
li:first-child {
  background-color: red;
  width: 100%;
}
li:last-child{
  background-color: peru;
}
li:nth-child(2) {
  background-color: purple;
}
